body{
background: black;
color: white;
}

.main_image_1{
    width: 1280px;
    height: 500px;
    object-fit: cover;
}

.tree_1{
    width: 800px;
    height: 300px;
    object-fit: contain;
}

.tree_2{
    width: 1200px;
    height: 200px;
    object-fit: contain;
}


